<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <meta name="description" content="">
 <meta name="author" content="">
 <link rel="icon" href="../../favicon.ico">
 <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />

 <title>Test Front-End </title>
 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
 <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 <![endif]-->
</head>

<body>
     <!--header-->
     <div class="header">
        <div class="row">
            <nav class="navbar">
                <div class="col-md-10 col-md-offset-1 nav-search">
                    <div class="col-md-2"><a href="#"><img src="../images/logoml.png" class="logo"/></a></div>
                    <div class="col-md-10 input-append">
                    <input class="input" type="text" placeholder="Nunca dejes de comprar">
                    <button type="submit" class="btn">
                        <img src="../images/icsearch.png" class="icosearch"/></i>
                    </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
   
    <!--header-->
  <!--category-->
  <div class="container">
      <div class="col-md-12">
          <div class="col-md-8 category">
              <p>Electrónica, Audio y Video > IPod > Reproductores</p>
          </div>
      </div>
  </div>
  <!--category-->
 
<!--list-->
<div class="container">
    <div class="row">
     <div class="col-md-10 col-md-offset-1 content">
                             
                 <div class="col-md-3 product-image">
                     <div class="product-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnRXKa5uXarIjGZ0nQuUyuuB8OWOAOjppFKaldHkoKrc95uGPZ')"></div>
                 </div>
                 
             <div class="col-md-6">
                 <div class="product-price">
                         <div class="price">$ 1.408 </div>
                         <div class="shipicon"><img src="../images/ic_shipping.png" class="icoshipping"/></div>
                 </div>
                 <div class="product-title">Apple IPod Touch. 5g 16gb negro igual a nuevo</div>
             </div>
             <div class="col-md-3">
                     <div class="product-city">
                             Capital Federal                  
                     </div>
             </div>
     </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 content">
                                
                    <div class="col-md-3 product-image">
                        <div class="product-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnRXKa5uXarIjGZ0nQuUyuuB8OWOAOjppFKaldHkoKrc95uGPZ')"></div>
                    </div>
                    
                <div class="col-md-6">
                    <div class="product-price">
                            <div class="price">$ 1.408 </div>
                            <div class="shipicon"><img src="../images/ic_shipping.png" class="icosearch"/></div>
                    </div>
                    <div class="product-title">Apple IPod Touch. 5g 16gb negro igual a nuevo</div>
                </div>
                <div class="col-md-3">
                        <div class="product-city">
                                Capital Federal                  
                        </div>
                </div>
        </div>
       </div>
       <div class="row">
        <div class="col-md-10 col-md-offset-1 content">
                                
                    <div class="col-md-3 product-image">
                        <div class="product-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnRXKa5uXarIjGZ0nQuUyuuB8OWOAOjppFKaldHkoKrc95uGPZ')"></div>
                    </div>
                    
                <div class="col-md-6">
                    <div class="product-price">
                            <div class="price">$ 1.408 </div>
                            <div class="shipicon"><img src="../images/ic_shipping.png" class="icosearch"/></div>
                    </div>
                    <div class="product-title">Apple IPod Touch. 5g 16gb negro igual a nuevo</div>
                </div>
                <div class="col-md-3">
                        <div class="product-city">
                                Capital Federal                  
                        </div>
                </div>
        </div>
       </div>
   <!--list-->

<!-- Bootstrap core JavaScript-->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
</body>
</html>
